.gm-cont {
    width: 70%;
    height: 30vh !important;
    margin: 3% calc(30% /2);
    opacity: .6;
    filter: grayscale(100%);
    background-size: cover;
    transition: filter .3s, opacity .3s;
    cursor: pointer;
}

.gm-cont:hover {
    filter: grayscale(0%);
    opacity: 1;
}